@page
@{
    ViewBag.Title = "Solve quadratic formula";
}
<div class="text-center">
    <h1>Solve quadratic formula</h1>
</div>
    <div>
        <ul>
            <li>Parameter a: </li>
            <li>Parameter b: </li>
            <li>Parameter c: </li>
        </ul>
    </div>
    <p class="text-center">Result: @ViewBag.x1 @ViewBag.x2</p>

