@{
    ViewData["Title"] = "Table";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/style.css" />

    <title>EX 1</title>
</head>
<body>

    <section>
        <h1>MULTIPLICATION MATRIX</h1>
        <table id="multMatrix">
        </table>
        <ul class="colorsList">
            <li>mod3eq0</li>
            <li>mod3eq1</li>
            <li>mod3eq2</li>
        </ul>
    </section>

    <script src="~/js/ex1.js"></script>
</body>
</html>

