body {
  font-family: "Courier New", Courier, monospace;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table th {
  width: 2em;
}

table th,
td {
  border: 1px solid black;
  border-radius: 0.2em;
  background-color: yellow;
  padding: 0.3em;
  text-align: right;
}

table thead th:first-child {
  border: none;
  background-color: white;
}

.even {
  background-color: bisque;
}

.odd {
  background-color: aqua;
}

.colorsList {
  list-style: none;
  display: flex;
}

.colorsList li:first-child:before,
.colorsList li:last-child:before {
  content: "\2022";

  font-weight: 900;
  display: inline-block;
  width: 0.7em;
  margin-top: 0.2em;
  margin-left: -1em;
}

.colorsList li:first-child:before {
  color: bisque;
}

.colorsList li {
  padding-right: 2em;
}

.colorsList li:last-child::before {
  color: aqua;
}

footer {
  display: flex;
  justify-content: center;
}
