body {
  background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: repeat-x;
  background-position: center center;
  background-size: 50% auto;
}
